<h1>Post: <%= @post.title %></h1>
<h2>User: <%= @post.user.user_name %></h2>
<p>text: <%= @post.body %></p>

<h2>Comments</h2>
<ul>
  <%= @post.comments.each do |comment| %>
    <li>
      <%= comment.user.user_name %>
      <%= comment.user.text %>
    </li>
</ul>